[submodule "extern/stb"]
	path = extern/stb
	url = git@github.com:nothings/stb.git
[submodule "extern/tinyobjloader"]
	path = extern/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
